<div class="border-bottom">
    <h1 class="h2">Analysis</h1>
</div>

<div class="row pt-5" ng-if="data.showAlert">
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" ng-class="data.isSpam ? 'alert-danger' : 'alert-success'" role="alert">
            <h4 class="alert-heading">{{ data.isSpam ? 'SPAM' : 'HAM' }}</h4>
            <span>Probability {{data.probability }}</span>
            <br />
            <em>{{ data.message }}</em>
            <button type="button" class="close" data-dismiss="alert" ng-click="dismissAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container pt-5">
<form name="spamForm">
    <div class="form-group row">
        <label for="message" class="col-sm-2 col-form-label">SMS</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="message" placeholder="Sample SMS message to analyse"
                   ng-model="form.message">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="submitAnalysis(spamForm)">Submit</button>
        </div>
    </div>
</form>
</div>