<div class="border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4" align="center">
            <canvas id="pieChart" width="300" height="300"></canvas>
        </div>
        <div class="col-sm-8" align="center">
            <canvas id="barChart" width="600" height="300"></canvas>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Contents</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in table.data.items">
                    <td><span class="badge badge-success" ng-class="item.type === 'HAM' ? 'badge-success' : 'badge-danger'">{{ item.type }}</span></td>
                    <td>{{ item.contents }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 d-flex">
                <ul class="pagination mx-auto">
                    <li class="page-item" ng-class="{disabled: table.currentPage === 0}">
                        <a class="page-link" href ng-click="previousPage()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href ng-click="nextPage()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>