<!-- top-nav-menu.html -->
<div ui-view="top-nav-menu"></div>

<div class="container-fluid">

    <div class="row">

        <!-- left-nav-menu.html -->
        <div ui-view="left-nav-menu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!-- main section -->
            <div ui-view="main"></div>
        </main>
    </div>
</div>
