<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" ui-sref="dashboard" ui-sref-active="active">
                    <span data-feather="activity"></span>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref="training" ui-sref-active="active">
                    <span data-feather="terminal"></span>
                    Training
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="analysis" ui-sref-active="active">
                    <span data-feather="trending-up"></span>
                    Analysis
                </a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" ui-sref="settings" ui-sref-active="active">
                    <span data-feather="settings"></span>
                    Settings
                </a>
            </li>
            -->
        </ul>
    </div>
</nav>