<body class="text-center">
<form class="form-signin" name="signInForm" autocomplete="off">
    <img class="mb-4 logo " src="../../images/logo.png" alt="Mimecast">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" type="text" ng-model="data.username" ng-change="onChange()" class="form-control" placeholder="Email address" required autofocus>
    <div class="invalid-feedback">Please choose a username.</div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" type="password" ng-model="data.password" ng-change="onChange()" class="form-control" placeholder="Password" required>
    <div class="invalid-feedback">Please provide a valid state.</div>

    <span ng-show="data.showError" class="has-error">Invalid username or password</span>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(signInForm)" ng-disabled="signInForm.$pristine">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2018 Craig Metcalfe</p>
</form>
</body>