<div class="border-bottom">
    <h1 class="h2">Training</h1>
</div>

<div class="container p-y-1">
    <div class="row m-b-1">
        <div class="col-sm-6 offset-sm-3">
            <button type="button" class="btn btn-primary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button>
            <div class="form-group inputDnD">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" onchange="readUrl(this)" data-title="Drag and drop a file">
            </div>
        </div>
    </div>
</div>